<p-card header="Alerte Facture dette">
<div class="container mx-auto p-4">
  <button class="bg-secondary border border-border text-secondary-foreground hover:bg-secondary/80 p-2 rounded-lg mb-4">Imprimer</button>
  <table class="min-w-full bg-white dark:bg-card border border-border">
    <thead>
      <tr class="bg-zinc-200 dark:bg-zinc-800">
        <th class="py-2 px-4 border-b border-border">Client</th>
        <th class="py-2 px-4 border-b border-border">Initiateur</th>
        <th class="py-2 px-4 border-b border-border">Code Facture</th>
        <th class="py-2 px-4 border-b border-border">Nom Facture</th>
        <th class="py-2 px-4 border-b border-border">Dette totale</th>
        <th class="py-2 px-4 border-b border-border">Dette Soldé</th>
        <th class="py-2 px-4 border-b border-border">Dette restante</th>
        <th class="py-2 px-4 border-b border-border">Delais (jours)</th>
        <th class="py-2 px-4 border-b border-border">Etat</th>
        <th class="py-2 px-4 border-b border-border">Date de Création</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover:bg-zinc-100 dark:hover:bg-zinc-700">
        <td class="py-2 px-4 border-b border-border">PASSCAM</td>
        <td class="py-2 px-4 border-b border-border">tchang ngassam</td>
        <td class="py-2 px-4 border-b border-border">RC-DOC-221BNK4D82F2</td>
        <td class="py-2 px-4 border-b border-border">RC-DOCUMENT-TRC-220QS39RPVAK-24-12-2022</td>
        <td class="py-2 px-4 border-b border-border">675 000,0</td>
        <td class="py-2 px-4 border-b border-border">804 936,5</td>
        <td class="py-2 px-4 border-b border-border">1,0</td>
        <td class="py-2 px-4 border-b border-border">45</td>
        <td class="py-2 px-4 border-b border-border text-pink-600">jr(s) : 542</td>
        <td class="py-2 px-4 border-b border-border">24-12-2022 11:43:51</td>
      </tr>
    </tbody>
  </table>
</div>
</p-card>
