.bg-background {
  background-color: hsl(var(--background));
}

.bg-primary {
  background-color: hsl(var(--primary));
}

.text-primary-foreground {
  color: hsl(var(--primary-foreground));
}

.bg-card {
  background-color: hsl(var(--card));
}

.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}

.bg-secondary {
  background-color: hsl(var(--secondary));
}

.text-secondary-foreground {
  color: hsl(var(--secondary-foreground));
}

.border-border {
  border-color: hsl(var(--border));
}
