<div class="p-6 bg-background rounded-lg shadow-md">
  <p class="text-lg font-semibold mb-4">Administré les Mouvements d'entrée et de sortie</p>
  <form class="space-y-4">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-2.5 gap-4">
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Type Document</label>
        <select class="mt-1 block w-full border border-border rounded-md p-2">
          <option>Select a state</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Dépôt</label>
        <select class="mt-1 block w-full border border-border rounded-md p-2">
          <option>218PA9HFTIEV / DEPOT AVARIE</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Motif</label>
        <select class="mt-1 block w-full border border-border rounded-md p-2">
          <option>motif</option>
        </select>
      </div>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 p-2" >
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Ajouter l'article dans un document</label>
        <textarea class="mt-1 block w-full border border-border rounded-md p-2" rows="2"
          placeholder="expliquer la raison ici"></textarea>
      </div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">choisir l'article</label>
        <select class="mt-1 block w-full border border-border rounded-md p-2">
          <option>Code à Barre / Désignation / Référence</option>
        </select>
      </div>
    </div>
    <div>
      <div>
        <label class="block text-sm font-medium text-muted-foreground">Document</label>
        <input type="text" class="mt-1 block w-full border border-border rounded-md p-2"
          placeholder="DOC24SW58SGSZV / DOCUMENT246HJ4ND5UNH02-08-2024" />
      </div>
    </div>
    <button type="submit" class="mt-4 bg-primary text-primary-foreground hover:bg-primary/80 py-2 px-4 rounded-md">ok</button>
  </form>
</div>
<div class="mt-6 bg-card rounded-lg shadow-md p-4">
  <p class="text-lg font-semibold mb-2">Mouvement d'entrer et de sorti</p>
  <table class="min-w-full border-collapse">
    <thead>
      <tr class="bg-muted text-muted-foreground">
        <th class="p-2 border-b">Code à bar</th>
        <th class="p-2 border-b">Nom</th>
        <th class="p-2 border-b">Référence</th>
        <th class="p-2 border-b">Quantité</th>
        <th class="p-2 border-b">Users</th>
        <th class="p-2 border-b">Date création</th>
        <th class="p-2 border-b">Dernière Modification</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
